NODE_ENV=production
PORT=10000
DATABASE_URL=postgresql://user:pass@host:5432/xyven
DATABASE_SSL=true
SESSION_SECRET=change_this_to_a_long_random_string
IP_HASH_SECRET=change_this_to_another_random_string
ADMIN_USERNAME=admin
ADMIN_PASSWORD=HARSHROSY
PUBLIC_URL=https://xyven-refferal.onrender.com
